html {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: linear-gradient(#09063d, #090979, #00d4ff); */
	background: rgb(9,6,61);
	background: linear-gradient(180deg, rgba(9,6,61,1) 20%, rgba(9,9,121,1) 61%, rgba(15,90,198, 1) 90%);	
}

#type_erase, #searchbar {
    display: inline-block
}

#real_searchbar {
	box-shadow: 0px 6px 20px 10px black;
}

#text {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    color: white;
    letter-spacing: 2px;
}


#cursor {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 2.5em;
    background-color: white;
    animation: blink .75s step-end infinite;
}


@keyframes blink {

    from, to {
        background-color: transparent
    }

    50% {
        background-color: white;
    }
}

.search {
    background-color: transparent;
    border: 1.5px solid gray;
}

div.sticky {
    position: fixed;
    top: 5%;
	z-index: 3; 
	
}

input,
select,
textarea {
    color: #fff;
}

    textarea:focus,
    input:focus {
        color: #fff;
        font-family: Montserrat;
    }

.break {
    padding-top: 5px;
}

.poster {
    border-radius: 10px;
    max-height: 20em;
}

.card {
    padding: 6%;
    border-radius: 10px;
    background-color: black;
}

    .card:hover {
        transition: background-color 0.1s ease-in-out;
       -webkit-transition: background-color 0.1s ease-in-out;
        background-color: #141414;
    }

.smallmovie {
    display: flex;
    justify-content: center;
}

/* .smallmovie:hover { */
/* -webkit-transition: background-color 0.1s ease-in-out; */
/* background-color: #141414;	 */
/* } */



.poster-little {
    border-radius: 10px;
    max-height: 17em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.poster-little-home {
    border-radius: 10px;
    height: 13em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-home {
    padding: 10px;
    border-radius: 10px;
    /* background-color: black; */
}

    .card-home:hover {
        transition: box-shadow 0.1s ease-in-out;
       -webkit-transition: box-shadow 0.1s ease-in-out;
        box-shadow: 1px 1px 12px 0px black;
    }

h1, h2, h3, h4, h5, p {
    color: white;
}

.caption {
    text-align: center;
    padding-top: 10%;
    font-size: 90%;
}

.close-overlay-button {
    position: absolute;
    top: 5%;
    left: 5%;
}

.fa-arrow-left:hover {
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    color: grey;
}

.boxed {
    font-size: 0.88em;
    border-radius: 2px;
    border: 1px solid #b3b3b3;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right:2px;
}

.movieinfo {
	color: #b3b3b3;
}

.bigmovie {
	border-radius:10px;	
}

.bigmovie:hover {
    transition: background-color 0.1s ease-in-out;
    -webkit-transition: background-color 0.1s ease-in-out;
    background-color: #141414;
}


/*dvdsvsdvsdvsdvsdvsd*/

.outer-container {
  height: 100%;
  width: 100%;
}

.top-section {
  height: 70%;
  width: 100%;
}

.bottom-section {
  height: 30%;
  width: 100%;
}

.bottom-aligner {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 0px;
}

.bottom-content {
  display: inline-block;
}


/*dvdsvsdvsdvsdvsdvsd*/

.block {
	display: inline-block;
}

.mainmoviebuttons {
	width:100%;
	height: 100%;
}

.mainmoviebuttons ul
{
	display: table;
	table-layout: fixed;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mainmoviebuttons li
{
	text-align: center;
	display: table-row;
}
.mainmoviebuttons span
{
	display: table-cell;
	vertical-align: middle;
}

.col {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
}
.overlay-container {
    padding-top: 5%
}

#overlay-search {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlay-trailer {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed; /* Sit on top of the page content */
    display: flex;
    align-items: center;
    justify-content: center;
    /*5 display: none; Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


/**********************************************************/


/* .moviepicker-container {
    
} */




/* *:focus {outline:none !important} */



/* Searchbar hints */

.hints-li {
    display: initial;
}

.hints-li ul {
    padding-top: 2%;
    padding-left: 0.1%;
    padding-bottom: 4%;
    /* border: 2px solid white; */
    /* border-radius: 10px; */
}

.hints-hints li {
    padding: 2%;
    border-radius: 5px;
}

.selected {
    opacity: 0.7;
    background-color: #1f1f1f;
}

.hints-hints li:hover {
    opacity: 0.8;
    background-color: #171717;
}


.hints-container {
    border: 2px solid #cccccc;
    border-radius: 32px;
}

.hints-searchbar {
    border-color: transparent !important;
}

.hints-searchbar-focus,
.hints-searchbar:focus {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #cccccc !important;
    border-top-left-radius: 32px !important;
    border-top-right-radius: 32px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.hints-hints-container {
    display: none;
}

.hints-searchbar:focus+.hints-hints-container {
    display: initial;
}

.hints-hints strong {
    color: white;
    font-weight: 600;
}

/* Buttons group css */

.buttons-group button {
    border: none; 
}

.buttons-group-mod {
	border: 1.5px solid;
	background-color: transparent;
	color: white;
}





















