<!DOCTYPE html>
<html class="family-primary" id="everything">

<head>
    <title>Find the perfect movie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href="css/bulma.css" rel="stylesheet"> -->
    <link href="css/bulma_custom/css/mystyles.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">
    <script src="js/ui.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="css/star-rating.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>
    <script src="js/fuzzysort/fuzzysort.js"></script>
    <script
        src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script type="text/javascript" src="js/jszip/jszip.min.js"></script>
    <script language="javascript" src="js/lz-string/lz-string.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="js/lodash/lodash_debounce.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="db/autocomplete.js"></script>
    <script src="db/popularmovies.js"></script>


</head>
<script>
    // LoadZippedFile();
    async function getbigfile() {
        popularmoviesjson = await fetch('https://lengthapi.win/movies/db/100kpopularmovies.json')
            .then(res => {
                if (!res.ok) {
                    throw new Error("Failed with HTTP code " + response.status);
                }
                return res.json()
            })
            .catch(err => {
                console.log("Error: " + err);
            })
    }
    getbigfile();
</script>

<body>
    <div class="container is-fluid">
        <div style="padding-top:5%" class="level">
            <div class="level-left" id="type_erase">
                <!-- !!! DO NOT DELETE THIS IS THE TYPING AND ERASING THING !!! IT MOVED TO js/ui.js !!! -->
                <!---->
                <div>
                    <div id="text" style="opacity:100;">
                        <div style="display: inline-block;" id="findtheperfect"></div>
                        <div style="display: inline-block;" id="movie/tvshow"></div>
                    </div>
                    <div id="cursor"></div>
                </div>

                <script>
                    TypeAndErase();
                </script>
            </div>

            <div class="level-right" id="searchbar">
                <div class="level">
                    <div class="level-left" style="padding-right: 10% !important;">
                        <a onclick="OpenWatchlist()" class="button is-rounded is-primary"><i class="fas fa-stream"></i>
                            &nbsp; Watchlist</a>
                    </div>
                    <div class="level-right">
                        <p class="control  has-icons-right sticky">
                            <input onclick="TransformSearch(1)" class="input is-rounded search" type="text"
                                placeholder="Search movies...">

                            <span id="bogus-searchbar-icon" class="icon is-small is-right">
                                <i class="fas fa-search"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="app">
            <div id="overlay-search">
                <div v-show="displaytrailer == false" class="close-overlay-button">
                    <i onclick="TransformSearch()" class="fas fa-arrow-left fa-2x"></i>
                </div>
                <div class="columns is-multiline is-centered overlay-container">
                    <div class="column is-6 sticky">
                        <div id="searchbarcontainer">
                            <ul style="background-color: black;" id="hints-container" class="hints-container">
                                <input v-model="query" v-on:keyup.enter="enter" id="hints-searchbar" type="text"
                                    class="input is-rounded is-large hints-searchbar"
                                    placeholder="Start typing to search movies">
                                <li class="hints-hints-container" id="hints-hints-container">
                                    <div>
                                        <ul class="hints-li">
                                            <li>
                                                <div
                                                    style="padding-left: 1% !important; padding-top: 1%; font-variant: small-caps;">
                                                    {{inputtopcornermsg}}
                                                </div>
                                            </li>
                                            <ul id="hints-hints" class="hints-hints">

                                            </ul>
                                        </ul>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="column is-10" style="margin-top: 6%;">
                        <div class="level">
                            <div class="level-left">
                                <p id="nav">{{navbar}}</p>
                            </div>
                            <div class="level-right">
                                <div v-show="!_.isEqual(searchedmovies, twentypopularmovies)"
                                    id="search-filter-dropdown" class="dropdown is-right">
                                    <div class="dropdown-trigger">
                                        <button
                                            v-show="searchbarfilter.some(arr => arr.length > 0) || searchbarsortvalue.toLowerCase() != 'relevance'"
                                            class="button is-rounded is-outlined is-hovered is-warning is-small is-static">You
                                            have active filters</button> &nbsp;
                                        <button id="search-filter-dropdown-button"
                                            class="button is-small is-rounded is-primary is-outlined is-hovered">
                                            <span>Filter results</span>
                                            <span class="icon is-small">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" style="width: 1000px !important" role="menu">
                                        <div class="dropdown-content"
                                            style="padding-left: 1.5rem; padding-bottom: 1.5rem;">
                                            <div class="dropdown-item">
                                                <div class="columns is-multiline is-centered buttons-group"
                                                    style="padding-top: 5%;">
                                                    <div id="pick" class="column is-12" tabindex="-1"
                                                        style="outline: none;">
                                                        <div class="moviepicker-container">
                                                            <div class="level">
                                                                <div class="level-left">
                                                                    <p style="font-size: 1.5em;">Filter the results</p>
                                                                    &nbsp; &nbsp; &nbsp;
                                                                    <button onclick="reset()"
                                                                        v-show="searchbarfilter.some(arr => arr.length > 0) || searchbarsortvalue.toLowerCase() != 'relevance'"
                                                                        class="button is-rounded is-outlined is-hovered is-dark is-small"><i
                                                                            class="fas fa-redo"></i>&nbsp;
                                                                        Reset</button>
                                                                </div>
                                                                <div class="level-right">
                                                                    <div class="buttons">
                                                                        <a id="sortdefault"
                                                                            onclick="SelectDropdown(this, 'is-link'); overlay.searchbarsortvalue = this.innerText;"
                                                                            class="button is-link is-small is-hovered is-rounded is-outlined buttons-group-mod has-text-white">Relevance
                                                                        </a>
                                                                        <a onclick="SelectDropdown(this, 'is-link'); overlay.searchbarsortvalue = this.innerText;"
                                                                            class="button is-small is-hovered is-rounded is-outlined buttons-group-mod has-text-white">Popularity</a>
                                                                        <a onclick="SelectDropdown(this, 'is-link'); overlay.searchbarsortvalue = this.innerText;"
                                                                            class="button is-small is-hovered is-rounded is-outlined buttons-group-mod has-text-white">Newest</a>
                                                                        <a onclick="SelectDropdown(this, 'is-link'); overlay.searchbarsortvalue = this.innerText;"
                                                                            class="button is-small is-hovered is-rounded is-outlined buttons-group-mod has-text-white">Rating
                                                                            - High to Low</a>
                                                                        <a onclick="SelectDropdown(this, 'is-link'); overlay.searchbarsortvalue = this.innerText;"
                                                                            class="button is-small is-hovered is-rounded is-outlined buttons-group-mod has-text-white">Rating
                                                                            - Low to High</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column is-4">
                                                        <div id="type2" class="buttons">


                                                        </div>
                                                        <div id="year2" class="buttons">

                                                        </div>
                                                        <div id="rating2" class="buttons ">

                                                        </div>
                                                    </div>
                                                    <div class="column is-8">
                                                        <div id="genres2" class="buttons ">

                                                        </div>
                                                        <div class="buttons"></div>
                                                        <div id="age2" class="buttons">

                                                        </div>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-show="title != ''" class="column is-10">
                        <div class="tile is-ancestor">
                            <div id="overlay" class="tile is-12 overlay">

                                <div class="col" style="width:18%; height:20em;">
                                    <img id="poster" class="poster" v-bind:src="poster" />
                                </div>
                                <div class="col" style="width: 60%">
                                    <div class="outer-container">
                                        <div class="top-section">
                                            <p id="title" style="font-size: 2em;">{{title}}</p>

                                            <p id="plot" style="padding-top:20px;font-size: 1.25em;">
                                                {{plot}}
                                            </p>
                                        </div>
                                        <div class="bottom-section">
                                            <div class="bottom-aligner"></div>
                                            <div class="bottom-content">
                                                <div>
                                                    <p id="info" class="movieinfo" style="font-size: 1.1em">{{year}}
                                                        &middot; {{runtime}} &middot; <span class="boxed">{{age}}</span>
                                                    </p>
                                                    <p class="movieinfo break" style="font-size: 1.1em;">IMDb {{rating}}
                                                        &middot; {{genres}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style=" width:20%">
                                    <div class="mainmoviebuttons">
                                        <ul style="width:100%; height:100%;">
                                            <li>
                                                <span>
                                                    <a id="trailer"
                                                        onclick="GetTrailer(overlay.currentmovieid).then(result => overlay.url = result, error => console.log(error)); overlay.displaytrailer = true;"
                                                        class="button is-large is-hovered is-rounded is-outlined buttons-group-mod has-text-white block">
                                                        <i class="fas fa-play"></i>
                                                        &nbsp;
                                                        Play Trailer
                                                    </a>
                                                </span>
                                            </li>
                                            <li>
                                                <span>
                                                    <a id="watchlist"
                                                        onclick="WatchlistHandler(this, overlay.currentmovieid, overlay.title, overlay.poster;"
                                                        class="button is-large is-hovered is-rounded is-outlined buttons-group-mod has-text-white block">
                                                        <span v-show="showplus == false">
                                                            <i class="fas fa-check"></i>
                                                            &nbsp;
                                                            Watchlist
                                                            &nbsp;
                                                        </span>
                                                        <span v-show="showplus == true">
                                                            <i class="fas fa-plus"></i>
                                                            &nbsp;
                                                            Watchlist
                                                            &nbsp;
                                                        </span>
                                                    </a>
                                                </span>
                                            </li>
                                            <li v-show="stars != 'N/A'">
                                                <span>
                                                    <div class="rating-holder">
                                                        <div id="stars" class="c-rating c-rating--big"
                                                            v-bind:data-rating-value="stars">
                                                            <div class="level">
                                                                <div class="level-left">
                                                                    <button>1</button>
                                                                    <button>2</button>
                                                                    <button>3</button>
                                                                    <button>4</button>
                                                                    <button>5</button>
                                                                </div>
                                                                <div class="level-right">
                                                                    <p id="reviewinfo" class="movieinfo"
                                                                        style="font-size: 75%"> &nbsp; {{ratingHalf}}
                                                                        &middot;
                                                                        ({{ratingCount}})</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                    </div>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div v-if="displaytrailer == true" id="overlay-trailer">
                                    <div v-on:click="displaytrailer = false" class="close-overlay-button">
                                        <i class="fas fa-arrow-left fa-2x"></i>
                                    </div>
                                    <iframe v-if="url != ''" width="1120" height="630" v-bind:src="url" frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>

                                    <div v-else class="tile is-ancestor"
                                        style="align-items: center; justify-content: center;">
                                        <div class="tile is-parent is-4">
                                            <div class="tile is-child"
                                                style="padding: 15px; background-color: #090979; border-radius: 10px;">
                                                <h1 style="font-size:24pt;">Uh-oh! &nbsp;&nbsp; :-(</h1>
                                                <br>
                                                <p class="subtitle">The trailer for this movie wasn't found.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                    <div id="therest" class="column is-10">
                        <div class="tile is-ancestor">
                            <div id="parentMovie" class="tile is-parent is-12" style="flex-wrap: wrap;">

                            </div>
                        </div>
                    </div>

                    <div v-show="title == ''" class="column is-10">
                        <p style="text-align: center;">
                            <span style="font-size: 150%;">No results found :(</span>
                            <br>
                            <span class="has-text-light" style="font-variant: small-caps;">try doing a less specific
                                search</span>
                        </p>
                    </div>
                </div>
            </div>
            <div style="padding-top:5%;" class="columns is-multiline is-centered buttons-group">
                <div id="pick" class="column is-12">
                    <div class="moviepicker-container">
                        <p style="font-size: 1.5em; text-align:center; vertical-align: middle;">What do
                            <i><b>you</b></i> want to watch?</p>
                        <!-- <div class="tile is-ancestor"> -->

                        <!-- </div> -->
                    </div>
                </div>

                <div class="column is-4">
                    <!-- TYPE: MOVIE/TV -->
                    <div id="type1" class="buttons">

                    </div>

                    <!-- YEAR: 2000s 90s... -->
                    <div id="year1" class="buttons">

                    </div>

                    <!-- RATING: SHIGHLY RATED, AWARD-WINNING -->
                    <div id="rating1" class="buttons ">

                    </div>
                </div>
                <!-- NEXT COLUMN -->
                <div class="column is-8">
                    <!-- GENRE: ACTION, COMEDY... -->
                    <div id="genres1" class="buttons ">

                    </div>

                    <div class="buttons">
                        <!-- EMPTY DIV TO ALIGN RATINGS AND AGE -->
                    </div>

                    <!-- AGE RATING: PG-13, TV-14... -->
                    <div id="age1" class="buttons">
                        <a onclick="OpenWatchlist()" style="text-align: right !important;"
                            class="button is-rounded is-primary">Open Watchlist</a>
                    </div>
                </div>

                <div class="column is-12">
                    <div id="dropdown" class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button is-small is-rounded is-primary is-outlined is-hovered">
                                <span>Sort <span style="font-variant: small-caps;">({{sortvalue}})</span></span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                            <div id="dropdowncontent" class="dropdown-content">
                                <div onclick="SelectDropdown(this, 'selected');" class="dropdown-item selected">
                                    <p>Popularity</p>
                                </div>
                                <!-- <hr class="dropdown-divider"> -->
                                <div onclick="SelectDropdown(this, 'selected');" class="dropdown-item">
                                    <p>Newest</p>
                                </div>
                                <div onclick="SelectDropdown(this, 'selected');" class="dropdown-item">
                                    <p>Rating - High to Low</p>
                                </div>
                                <div onclick="SelectDropdown(this, 'selected');" class="dropdown-item">
                                    <p>Rating - Low to High</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- <p style="font-variant: small-caps;">no results found</p> -->
                </div>

                <div class="column is-12">

                    <div class="tile is-ancestor">
                        <div id="filteredmovies-container" class="tile is-parent is-12" style="flex-wrap: wrap;">

                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div style="z-index:26; display: none;" id="watchlist-overlay-container-backbutton" class="close-overlay-button">
        <i onclick="CloseWatchlist()" class="fas fa-arrow-left fa-2x"></i>
    </div>
    <div style="display: none;" class="watchlist-overlay" id="watchlist-overlay-container">
        <div class="container is-fluid" style="padding-top:7%;">
            <div class="columns is-multiline is-centered">
                <div class="column is-11">
                    <p style="font-size: 200%">
                        <i class="fas fa-stream"></i> &nbsp;
                        Your Watchlist
                    </p>
                    <p class="subtitle" style="font-variant: small-caps">
                        hover over the posters for more options
                    </p>
                </div>
                <div class="column is-12">
                    <div>
                        <div class="column is-12">
                            <div class="tile is-ancestor">
                                <div id="watchlist-overlay" class="tile is-parent is-12" style="flex-wrap: wrap;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: none;" id="watchlist-overlay-empty-msg" class="column is-8; has-text-centered">
                    <p style='font-size:200%'>Your watchlist is empty :(</p>
                </div>
            </div>
        </div>
    </div>
</body>

<script>

    var overlay = new Vue({
        el: "#app",
        data: {
            title: "",
            poster: "",
            plot: "",
            year: "",
            runtime: "",
            age: "",
            rating: "",
            ratingHalf: "",
            ratingCount: "",
            genres: "",
            navbar: "",
            stars: 0,
            currentmovieid: "",
            url: "", //trailer url
            displaytrailer: false,
            showplus: true,
            query: "",
            inputtopcornermsg: "popular movies",
            sortvalue: "popularity",
            searchbarsortvalue: "relevance",
            currentFocus: -1,
            computed: [[], [], [], [], []],
            searchbarfilter: [[], [], [], [], []],
            filteredmovies: [],
            searchedmovies: [],
            twentypopularmovies: []

        },
        watch: {
            query: _.debounce(function (q) {
                if (!q) {
                    document.getElementById("hints-hints").innerHTML = "";
                    this.inputtopcornermsg = "no results found"
                    return false;
                }
                this.currentFocus = -1;
                computeAutocomplete(q);
            }, 85),

            filteredmovies: _.debounce(function (movies) {
                var childmovie_container = document.getElementById("filteredmovies-container");
                childmovie_container.innerHTML = "";
                if (!isEmpty(movies)) {
                    movies.forEach(movie => {
                        var imgurl = movie.Poster;
                        if (imgurl == "N/A") {
                            imgurl = "images/unknown.png"
                        }

                        var childMovie = document.createElement("div");
                        childMovie.setAttribute("class", "tile is-child is-2");

                        var smallmovie = document.createElement("div");
                        smallmovie.setAttribute("class", "smallmovie");
                        childMovie.appendChild(smallmovie);

                        var ul = document.createElement("ul");
                        smallmovie.appendChild(ul);

                        var card = document.createElement("div");
                        card.setAttribute("class", "card-home");
                        ul.appendChild(card);

                        var posterLi = document.createElement("li");
                        var titleLi = document.createElement("li");
                        card.appendChild(posterLi);
                        card.appendChild(titleLi);

                        var posterDiv = document.createElement("p");
                        posterDiv.setAttribute("style", "height: 13.5em");
                        posterLi.appendChild(posterDiv);

                        var poster = document.createElement("img");
                        poster.setAttribute("class", "poster-little-home");
                        poster.setAttribute("src", imgurl);
                        posterDiv.appendChild(poster);

                        var title = document.createElement("p");
                        title.setAttribute("class", "caption");
                        title.innerText = movie.Title;
                        titleLi.appendChild(title);

                        childMovie.addEventListener("click", function () {
                            //redirect to somewhere else
                            window.location.href = "https://lengthapi.win/time";
                        })

                        childmovie_container.insertAdjacentElement('beforeend', childMovie);
                    });
                }
                else if (this.computed.every(arr => !arr.length > 0)) {
                    childmovie_container.innerHTML = `
                    <div class="tile is-child">
                        <p style="text-align: center;">
                            <span style="font-size: 150%;">Click some buttons to search :)  </span>
                        </p>
                    </div>`
                }
                else {
                    childmovie_container.innerHTML = `
                    <div class="tile is-child">
                        <p style="text-align: center;">
                            <span style="font-size: 150%;">No results found :(</span>
                            <br>
                            <span class="has-text-light" style="font-variant: small-caps;">try doing a less specific search</span>
                        </p>
                    </div>`
                }

            }, 200),

            searchedmovies: _.debounce(function (movies) {
                Display(movies);
            }, 200),

            sortvalue: function () {
                this.filteredmovies = sorter(this.sortvalue, this.filteredmovies);
            },

            searchbarsortvalue: function () {
                this.searchbarSorter();
            }

        },
        methods: {
            enter: function () {
                document.getElementById("hints-searchbar").blur()
                unsetFocused();
                SearchMovies();
            },
            recompute: function () {
                var childmovie_container = document.getElementById("filteredmovies-container");
                var c = this.computed.slice(0);
                // c = [[Type], [Year], [Rating], [Genres], [Age]]
                if (!isEmpty(c)) {
                    childmovie_container.innerHTML = `
                    <div class="tile is-child">
                        <p style="text-align: center;">
                            <span style="font-size: 150%;">Loading...</span>
                        </p>
                    </div>`
                    var thefilteredmovies = FilterMovies(c, popularmoviesjson);
                    this.filteredmovies = thefilteredmovies.slice(0);
                    this.filteredmovies = sorter(this.sortvalue, this.filteredmovies);
                }
                else {
                    console.log("c is empty");
                    this.filteredmovies = [];
                }
            },
            recomputeSearched: function () {
                var c = this.searchbarfilter;
                if (!isEmpty(c)) {
                    Searcher(popularmoviesjson, this.query).then(results => {
                        var movies = [];
                        results.forEach(r => movies.push(r.obj));
                        var filtered = FilterMovies(c, movies);
                        if (filtered.length > 0) {
                            console.log(filtered);
                            this.searchedmovies = filtered;
                            this.searchbarSorter();
                        }
                        else {
                            this.title = "";
                            document.getElementById("parentMovie").innerHTML = "";
                            this.navbar = "0 results found"
                        }
                    })
                }
                else {
                    console.log("c from the searchbar is empty. (no buttons were clicked in the searchbar filter)");
                    Searcher(popularmoviesjson, this.query).then(result => {
                        let results = [];
                        result.forEach(r => results.push(r.obj));
                        this.searchedmovies = results;
                        this.searchbarSorter();
                    });
                }
            },
            searchbarSorter: function () {
                let sortvalue = this.searchbarsortvalue;
                if (sortvalue.toLowerCase() == "relevance") {
                    Searcher(this.searchedmovies, this.query).then(result => {
                        let results = [];
                        result.forEach(r => results.push(r.obj));
                        this.searchedmovies = results;
                    });
                    // SearchMovies();
                    // this.recomputeSearched();
                }
                else {
                    this.searchedmovies = sorter(sortvalue.toLowerCase(), this.searchedmovies);
                }
            }
        }
    })

    let dropdown = document.getElementById('dropdown');
    dropdown.addEventListener('click', function (event) {
        //event.stopPropagation();
        dropdown.classList.toggle('is-active');
    });

    let searchbarfilter = document.getElementById("search-filter-dropdown-button");
    searchbarfilter.addEventListener('click', event => {
        document.getElementById("search-filter-dropdown").classList.toggle('is-active');
    });



    document.getElementById("hints-searchbar").addEventListener("keydown", function (e) {
        var x = document.getElementById("hints-hints");
        if (x) x = x.getElementsByTagName("li");
        if (e.keyCode == 40) {
            overlay.currentFocus++;
            addActive(x);
        } else if (e.keyCode == 38) {
            overlay.currentFocus--;
            addActive(x);
        } else if (e.keyCode == 13) {
            e.preventDefault();
            if (overlay.currentFocus > -1) {
                if (x) x[overlay.currentFocus].click();
            }
        }
    });

    var searchbarcontainer = document.getElementById('searchbarcontainer');
    document.addEventListener('click', function (event) {
        var isClickInside = searchbarcontainer.contains(event.target);
        if (isClickInside) {
            //Clicked IN
            setFocused();
        }
        else {
            //Clicked OUT
            unsetFocused();
        }
    });

    //Button generator
    function GenerateButtons(group = 1) {
        /* The buttons object. Add or remove items in different catagories to change the button structure */
        var data = { arraytopush: ["computed", "searchbarfilter"], id: ["type", "year", "rating", "genres", "age"], content: [["Movie", "TV"], ["Recent", "2000s", "'90s", "'80s", "'70s", "'60s", "'50s", "'40s", "'30s", "Classic"], ["Highly Rated", "Award-Winning"], ["Action", /*"Adult", currently there aren't any movie with the genre Adult in the JSON */ "Adventure", "Animation", "Biography", "Comedy", "Crime", "Documentary", "Drama", "Family", "Fantasy", "Film-Noir", "Game-Show", "History", "Horror", "Music", "Musical", "Mystery", "News", "Reality-TV", "Romance", "Sci-Fi", "Sport", "Talk-Show", "Thriller", "War", "Western", "Only"], ["G", "PG", "PG-13", "R", "NC-17"]] };

        for (currentButtonGroup = group; currentButtonGroup < 3; currentButtonGroup++) {
            for (id of data.id) {
                currentID = id + currentButtonGroup;
                var currentgroup = document.getElementById(currentID);
                var catagorytitle = id[0].toUpperCase() + id.slice(1);
                currentgroup.innerHTML = '<button class="button is-static is-rounded" style="border: none; font-variant: small-caps">' + catagorytitle + '</button>';
                for (button of data.content[data.id.indexOf(id)]) {
                    var a = document.createElement("a");
                    var datacatagoryindex = data.id.indexOf(id).toString();
                    a.setAttributeNode(document.createAttribute("data-scroll"));
                    a.setAttribute("href", "#pick");
                    a.setAttribute("data-catagory-index", datacatagoryindex);
                    if (currentButtonGroup == 1) {
                        a.setAttribute("data-array-to-push", "computed");
                    }
                    else if (currentButtonGroup == 2) {
                        a.setAttribute("data-array-to-push", "searchbarfilter");
                    }
                    a.setAttribute("class", "button is-hovered is-rounded is-outlined buttons-group-mod has-text-white");
                    a.setAttribute("onclick", "ButtonClickHandler(this)");
                    a.innerText = button;
                    currentgroup.insertAdjacentElement("beforeend", a);

                }
            }
        }
    }

    function ButtonClickHandler(button) {
        button.blur()
        var classes = button.classList;
        var catagory_index = parseInt(button.getAttribute("data-catagory-index"));
        var arrtopush = button.getAttribute("data-array-to-push");
        var totoggle = "buttons-group-mod";
        var totoggleto = "is-link";
        var c = [[], [], [], [], []];
        if (classes.contains(totoggle)) {
            //SELECTED
            classes.remove(totoggle);
            classes.add(totoggleto)
            //Adding items to an array is easy. Removing them is not :(
            if (arrtopush == "computed") {
                overlay.computed[catagory_index].push(button.innerText);
            }
            else if (arrtopush == "searchbarfilter") {
                overlay.searchbarfilter[catagory_index].push(button.innerText);
            }
        }

        else {
            //NOT SELECTED
            classes.remove(totoggleto);
            classes.add(totoggle)
            //Quick and easy way to remove an item from an array :)
            if (arrtopush == "computed") {
                overlay.computed[catagory_index] = overlay.computed[catagory_index].filter(item => item !== button.innerText);
            }
            else if (arrtopush == "searchbarfilter") {
                overlay.searchbarfilter[catagory_index] = overlay.searchbarfilter[catagory_index].filter(item => item !== button.innerText);
                console.log(overlay.searchbarfilter);

            }
        }
        if (arrtopush == "computed") {
            overlay.recompute();
        }
        else if (arrtopush == "searchbarfilter") {
            //Display(FilterMovies(overlay.searchbarfilter));
            overlay.recomputeSearched();
        }
        // console.log(overlay.computed);
    }

    GenerateButtons();
    PreloadPopularMovies(); /* Run this for the first time to preload the popular movies into
                               the home screen, search screen, and searchbar */
    //Smooth scroll
    var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 700,
        speedAsDuration: true
    });
    //scroll.destroy();
</script>

</html>