@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600&display=swap');

// Set your brand colors
$blue: #0f5ac6;
$blue-dark: #090979;
$blue-darker: #09063d;
$grey: #b3b3b3;
$black: #000000;
$white: #ffffff;
$grey-lighter: #cccccc;



// Update Bulma's global variables
$family-sans-serif: "Montserrat:600", sans-serif;
$family-color: white;
$primary: $blue-dark;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;
$text: #ffffff; 
$text-light: #ffffff;

// Update some of Bulma's component variables
$body-background-color: $blue-darker;
$control-border-width: 1.5px;
$input-border-color: $grey-lighter;
$input-shadow: none;
$input-background-color: transparent;
$input-color: white;

$button-static-background-color: $primary;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

/* @import "../node_modules/bulma/sass/utilities/_all.sass"; */
/* @import "../node_modules/bulma/sass/base/_all.sass"; */
/* @import "../node_modules/bulma/sass/elements/button.sass"; */
/* @import "../node_modules/bulma/sass/elements/container.sass"; */
/* @import "../node_modules/bulma/sass/elements/title.sass"; */
/* @import "../node_modules/bulma/sass/form/_all.sass"; */
/* @import "../node_modules/bulma/sass/components/navbar.sass"; */
/* @import "../node_modules/bulma/sass/layout/hero.sass"; */
/* @import "../node_modules/bulma/sass/layout/section.sass"; */